# dependencies
**/node_modules/
**/dist/
**/build/

# environment variables
.env
.env.local
.env.production
**/.env

# uploads
**/uploads/

# logs
*.log
logs/
**/logs/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# PM2
.pm2/
