.header {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  background: var(--bg-header);
  border-bottom: 1px solid var(--border-color);

  .info {
    margin-left: 12px;

    .title {
      font-weight: 500;
      font-size: 18px;
      color: var(--text-primary);
    }

    .status {
      font-size: 12px;
      color: var(--text-secondary);
    }
  }
}
